<div class="row">
  <div class="col-12 col-md-8">
    <%= render 'search' %>
  </div>
  <div class="col-12 col-md-4 actions">
    <%= link_to 'Check for new enquiries', [:fetch_new, :enquiries], method: :post, class: 'btn btn-primary float-right' %>
  </div>
</div>

<%= table_for(collection, class: 'table enquiries') do |t| %>
  <% %i[name email message source state created_at].each do |field| %>
    <% t.column field, Enquiry.human_attribute_name(field) %>
  <% end %>
  <% t.column :actions, 'Actions' do |enquiry| %>
    <%= link_to 'Show', enquiry %>
    <%= link_to 'Edit', [:edit, enquiry] %>
  <% end %>
<% end %>
