<header class="row mb-5">
  <div class="col-12">
    <h1>Enquiry<small> <%= @enquiry.email %></small></h1>
  </div>
</header>

<p>
  <strong>Name:</strong>
  <%= @enquiry.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @enquiry.email %>
</p>

<p>
  <strong>Message:</strong>
  <%= @enquiry.message %>
</p>

<p>
  <strong>Source:</strong>
  <%= @enquiry.source %>
</p>

<p>
  <strong>Listing make:</strong>
  <%= @enquiry.listing_make %>
</p>

<p>
  <strong>Listing model:</strong>
  <%= @enquiry.listing_model %>
</p>

<p>
  <strong>Listing year:</strong>
  <%= @enquiry.listing_year %>
</p>

<p>
  <strong>Listing colour:</strong>
  <%= @enquiry.listing_colour %>
</p>

<p>
  <strong>Listing url:</strong>
  <%= @enquiry.listing_url %>
</p>

<p>
  <strong>Listing reference:</strong>
  <%= @enquiry.listing_reference %>
</p>


<div class="actions">
  <%= link_to 'Back', enquiries_path %>
  <%= link_to 'Mark as done', state_done_enquiry_path(@enquiry), method: :patch, class: 'btn btn-success' unless @enquiry.state_done? %>
</div>
