<header class="row mb-5">
  <div class="col-12 col-md-6">
    <h2>Enquiry <small><%= resource.email %></small></h2>
  </div>

  <div class="col-12 col-md-6 actions text-right">
    <%= link_to 'Mark as done', [:state_done, resource], method: :patch, class: 'btn btn-success' unless resource.state_done? %>
    <%= link_to 'Edit', [:edit, resource], class: 'btn btn-secondary ml-3' %>
  </div>
</header>


<h3>Customer Details</h3>
<dl class="row">
  <% %i[name email message].each do |field| %>
    <dt class="col-sm-3"><%= Enquiry.human_attribute_name(field) %></dt>
    <dd class="col-sm-9"><%= resource.send(field) %></dd>
  <% end %>
</dl>

<h3>Listing Details</h3>
<dl class="row">
  <% %i[source listing_make listing_model listing_year listing_colour listing_url listing_reference].select do |field|
    resource.send("#{field}?")
  end.each do |field| %>
    <dt class="col-sm-3"><%= Enquiry.human_attribute_name(field) %></dt>
    <dd class="col-sm-9"><%= resource.send(field) %></dd>
  <% end %>
</dl>

<h3>Enquiry Details</h3>
<dl class="row">
  <% %i[created_at updated_at state notes].select do |field|
    resource.send("#{field}?")
  end.each do |field| %>
    <dt class="col-sm-3"><%= Enquiry.human_attribute_name(field) %></dt>
    <dd class="col-sm-9"><%= resource.send(field) %></dd>
  <% end %>
</dl>
